
.container_tasks {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(25, 31, 37);
    width: 300px;
}

.container_tasks > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid black;
}