[submodule "RxCpp"]
	path = RxCpp
	url = git@github.com:smitek-robotics/RxCpp.git
[submodule "libmodbus"]
	path = libmodbus
	url = git@github.com:smitek-robotics/libmodbus.git
[submodule "cpp-httplib-static"]
	path = cpp-httplib-static
	url = git@github.com:smitek-robotics/cpp-httplib-static
