# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


tests/runtests
tests/runtests_float
tests/runtests_double

opengl_tests/sphere/target

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
RUN_TESTS.vcxproj
RUN_TESTS.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
*.dir/
*.sln
*.vcxproj
*.vcxproj.filters
*.dir/
*.vcxproj
*.vcxproj.filters
rabbit_test

target
runtests
build


.git
.gitignore
.gitmodules
.gitattributes
.github
.vscode