BasedOnStyle: LLVM
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
ObjCBlockIndentWidth: 4
NamespaceIndentation: All
BreakBeforeBraces: Allman
FixNamespaceComments: false
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false