include pycrow/__tunels__/nos/nos.g.py
include pycrow/__tunels__/igris/igris.g.py
include pycrow/__tunels__/igris/compat/libc/libc.g.py
include pycrow/__tunels__/igris/compat/std/std.g.py
include pycrow/__tunels__/igris/compat/posix/posix.g.py

include crow.g.py

recursive-include crow *.h
recursive-include pycrow/__tunels__ *.h