name: Licant

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: 
          - { CXX: g++-11, CC: gcc-11 } 
          - { CXX: clang++-12, CC: clang-12 }

    steps:
    - uses: actions/checkout@v2

    - name: Setup dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y g++-11 clang-12
        sudo update-alternatives --install /usr/bin/c++ c++ /usr/bin/${{matrix.compiler.CXX}} 100
        sudo update-alternatives --install /usr/bin/cc  cc  /usr/bin/${{matrix.compiler.CC}} 100
        sudo python3 -m pip install licant

    - name: Build
      run: python3 ./make.py

    - name: Test
      run: ./runtests
      
