[submodule "submodules/genos"]
	path = submodules/genos
	url = https://radioline.visualstudio.com/genos/_git/genos
[submodule "submodules/igris"]
	path = submodules/igris
	url = https://radioline.visualstudio.com/igris/_git/igris
[submodule "submodules/ralgo"]
	path = submodules/ralgo
	url = https://radioline.visualstudio.com/ralgo/_git/ralgo
[submodule "submodules/linalg"]
	path = submodules/linalg
	url = https://radioline.visualstudio.com/linalg/_git/linalg
[submodule "submodules/rabbit"]
	path = submodules/rabbit
	url = https://radioline.visualstudio.com/rabbit/_git/rabbit
[submodule "submodules/crow"]
	path = submodules/crow
	url = https://radioline.visualstudio.com/crow/_git/crow
[submodule "submodules/nos"]
	path = submodules/nos
	url = https://radioline.visualstudio.com/nos/_git/nos
[submodule "submodules/submodules/cpulib"]
	path = submodules/submodules/cpulib
	url = https://radioline.visualstudio.com/cpulib/_git/cpulib
[submodule "submodules/cpulib"]
	path = submodules/cpulib
	url = https://radioline.visualstudio.com/cpulib/_git/cpulib
