# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

tests/runtests
ltest/runtests
test/runtests_installed
travis.log

ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
RUN_TESTS.vcxproj
RUN_TESTS.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
*.dir/
*.sln
*.vcxproj
*.vcxproj.filters
*.dir/
*.vcxproj
*.vcxproj.filters
x64
Debug
Release

doxygen/html
doxygen/latex

bindings/arduino/src 
xxx

build
*.ninja
.ninja_*

nos_test
runtests
beam
listener