# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  name: Default

steps:

- checkout: none

- script: curl.exe http://127.0.0.1:5000/project_updated?projname=nos
  displayName: 'Run test script through local flask server'
