# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Targets
*target
rfmeas

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

#Python
*.pyc

licant/**
rfmeas
Makefile.*
project.pro.*
object_script.rfmeas.*

html 
latex

*.swp
*.cpp#

*.aux
*.dvi
*.log
*.toc
*.orig

settings.json
runtime.json
!template/**/settings.json
!template/**/runtime.json

build
gxx
errlog.txt
runtests
rfmeask

*.ninja
.ninja_*